body{
	background: #0066CC !important;
	margin:0;
	padding:0;
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
	color:#333;
}
/* TYPOGRAPHY */
p{
	margin-bottom:0;
}
h2{
	size: 50px;
	margin:15px;
}
.no_margin{
	margin:0;
}
.hide{
	display: none;
}
.show_dialog{
	border-radius: 7.5px;
 	box-shadow: 0px 0px 30px #777;
	background:#ffffff;
	position: absolute;
	display: block;
	top:50px;
	left:0;
	right:0;
	margin:0 auto;
	width:30%;
	z-index: 15;
}
.for_validation{
	height:245px;
}
.for_form{
	height:140px;
}
.no_top_margin{
	margin-top:0;
}
.no_padding{
	padding:0;
}
.padding_20{
	padding:20px;
}
.header{
	margin:0;
	padding:10px;
	color:#f4f4f4;
}
.header h1{
	margin: 0;
	text-align: center;
}
.face {
  position: absolute;
  margin-top: -50px;
  width: 26px;
  margin-left: 5px;
}
/* POSITIONING */
.absolute_center_parent{
	background: #0066CC !important;
  position: relative;
  height:100vh;
}

.absolute_center_child{
	background: #0066CC !important;
}

.md-input{
	background: #EDEDED !important;
}
.vertical_align_top{
	vertical-align: top;
}
.text_align_center{
	text-align: center;
}
.margin_top_20{
	margin-top:20px !important;
}
.margin_top_10{
	margin-top:10px !important;
}

.white_text{
	color: #ffffff;
}
.width_80{
	width:80%;
}
.pull_left{
	float:left;
}
.width_100{
	width:80%;
}
.align_center{
	margin:0 auto;
}
.width_425{
	width: 393px;
	margin:0 auto;
}
.date_picker{
	border: none !important;
  border-bottom: 1px solid #ccc !important;
 	background: #EDEDED !important;
 	height:30px;
}
.margin_bottom_10{
	margin-bottom: 10px !important;
}
.margin_top_20{
	margin-top: 20px;
}
/* PROJECTS INDEX */

ul.projects{
	text-align: center;
}
.projects a:hover{
	text-decoration: underline;
}
.display_inline_block{
	display: inline-block;
}

.main_container{
	border-radius: 7.5px;
	width:70%;
	margin:0 auto;
	background: #f4f4f4;
	z-index: 10;
}
.main_container_90{
	border-radius: 7.5px;
	width:90%;
	margin:0 auto;
	background: #f4f4f4;
	z-index: 10;
}
.center_button{
	width:100% !important;
	margin:0 auto !important;
}
.grey_backgroud{
	background: #EDEDED !important;
}
.rule{
	border-bottom:solid 1px #EDEDED;
	margin:10px;
}
.welcome{
	padding:20px;
}
.footer{
	position: fixed;
	bottom:20px;
	background: #0066CC !important;
	right:0;
	z-index: 0;
}
.footer img{
	width:300px;
}