<div class="absolute_center_parent">
  <div class="absolute_center_child">
    <h3 class="text_align_center white_text"> Please enter your procedure details </h3>
    <md-content layout-padding layout="column" class="main_container">
      <md-button class="md-raised center_button margin_bottom_10" ng-href="#/feedback/index">Go Back</md-button>
      <form ng-submit="findHospital(formData)" ng-model="formData">
        <md-input-container flex class="width_80 pull_left no_padding margin_bottom_10">
          <label>Name of Hospital</label>
          <input ng-model="formData.name" class="width_100 date_picker">
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary pull_left vertical_align_top margin_top_20">Find</md-button>    
      </form>
      <form ng-submit="processForm(formData)" ng-model="formData">
        <md-radio-group required ng-model="formData.hospital_id" ng-hide="{{_.isEmpty(hospitals)}}">
          <div ng-repeat="hospital in hospitals track by $index">
            <div ng-click="hideRadios(hospital[0])">
              <md-radio-button class="md-primary hospital" value="{{hospital[0]}}">{{hospital[1] + ", " + hospital[2] + ", " + hospital[3]}}</md-radio-button>
            </div>
          </div>
        </md-radio-group>
        <label>Date of discharge</label>
    	  <input required type="date"
          class="date_picker"
          ng-model="formData.discharge_date"
          [name="discharge_date"]
          [min="discharge_date"]
          [max="discharge_date"]
          [required="discharge_date"]
          [ng-required="discharge_date"]
          [ng-change="discharge_date"]
          [placeholder="Select a Date"]
        >         
        <md-input-container flex class="no_padding">
          <label>Age at discharge</label>
          <input required ng-model="formData.age">
        </md-input-container>


        <md-radio-group required ng-model="formData.gender">
          <label>Gender</label>
          <md-radio-button class="md-primary display_inline_block" value="1">Male</md-radio-button>
          <md-radio-button class="md-primary display_inline_block" value="2">Female</md-radio-button>
        </md-radio-group>

        <md-input-container flex>
          <label>Your Postcode</label>
          <p>
            We will only use a partial postcode. <span ng-show="partial_postcode.length > 3"> (The postcode we will use: {{partial_postcode}})</span>
          </p>
          <input required ng-change="stripPostcode(formData.partial_postcode)" ng-model="formData.partial_postcode">
        </md-input-container>
        <md-button class="md-raised md-primary center_button" type="submit" class="md-raised md-success">Proceed</md-button>
      </form>
    </md-content>
  </div> 
</div>

<div id="validation_dialog" class="hide for_validation"> 
  <ul>
    <li><b>Validating against HES data...</b></li>
    <li><b>Checking against:</b></li>
    <li class="margin_top_10">Age (DISAGE)</li>
    <li>Gender (SEX)</li>
    <li>Partial Postcode (POSTDIST)</li>
    <li>Site (SITETRET)</li>
    <li>and Discharge Date (DISDATE)</li>
  </ul>
  <md-progress-circular md-mode="indeterminate" class="align_center"></md-progress-circular>
  <ul>
    <li><b>Response</b>b></li>
    <li>GMC Number (CONSULTANT CODE)</li>
    <li>Primary Procedure (OPCS01)</li>
    <li>Patient's GP (GPPRAC)</li>
  </ul>
</div>