<div class="absolute_center_parent">
  <div class="absolute_center_child">
    <h3 class="text_align_center white_text"> Please enter your procedure details </h3>
    <md-content layout-padding layout="column" class="main_container">
      <md-button class="md-raised center_button margin_bottom_10" ng-href="#/feedback/index">Go Back</md-button>
      <form ng-submit="findHospital(formData)" ng-model="formData">
        <md-input-container flex class="width_80 pull_left">
          <label>Name of Hospital</label>
          <input ng-model="formData.name" class="width_100 date_picker">
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary pull_left vertical_align_top margin_top_20">Find</md-button>    
      </form>
      <form ng-submit="processForm(formData)" ng-model="formData">
        <md-radio-group ng-model="formData.pgic">
          <div ng-repeat="hospital in hospitals">
            <div ng-click="hideRadios({{hospital[0]}})">
              <md-radio-button class="md-primary" value="{{hospital[0]}}">{{hospital[1] + ", " + hospital[2] + ", " + hospital[3]}}</md-radio-button>
            </div>
          </div>
        </md-radio-group>
        <label>Date of discharge</label>
    	  <input type="date"
          class="date_picker"
          ng-model="formData.discharge_date"
          [name="discharge_date"]
          [min="discharge_date"]
          [max="discharge_date"]
          [required="discharge_date"]
          [ng-required="discharge_date"]
          [ng-change="discharge_date"]
          [placeholder="Select a Date"]
        >         
        <md-input-container flex>
          <label>Age at discharge</label>
          <input ng-model="formData.age">
        </md-input-container>

        <md-select placeholder="Gender" ng-model="formData.gender">
          <span ng-repeat="option in gender_options">
            <md-option value="{{option.value}}">{{option.text}}</md-option>
          </span>
        </md-select>

        <md-input-container flex>
          <label>Postcode</label>
          <input ng-model="formData.partial_postcode">
        </md-input-container>
        <md-button class="md-raised md-primary center_button" type="submit" class="md-raised md-success">Proceed</md-button>
      </form>
    </md-content>
  </div> 
</div>