<div class="consultant_responses">
<p class="triangle-border positive"><%= patient_response.consultant_positive %></p>
<p class="triangle-border improvement"><%= patient_response.consultant_improving %></p>
</div>